/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Add custom fonts*/
@font-face {
    font-family: "Roboto-Light";
    src: url(../fonts/Roboto-Light.ttf),
		url(../fonts/Roboto-Light.eot);
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf),
		url(../fonts/Roboto-Bold.eot);
}
@font-face {
    font-family: "Acrom-Light";
    src: url(../fonts/Acrom-Light.otf),
    	url(../fonts/Acrom-Light.eot);
}
@font-face {
    font-family: "Acrom-ExtraBold";
    src: url(../fonts/Acrom-ExtraBold.otf),
    	url(../fonts/Acrom-ExtraBold.eot);
}

/*Main style*/
body {
	overflow-x: hidden;
}
img {
	width: 100%;
	height: auto;
}
a {
	color: #fff;
	text-decoration: none;
}
.wrapper {
	max-width: 1140px;
	margin: auto;
}
.wrapper-bottom {
	max-width: 1120px;
	margin: auto;
}
.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

/*Reuse class*/
.square {
	position: absolute;
}
.header-main-square {
	width: 18px;
	height: 18px;
}
.white-square {
	background-color: #fff;
}
.blue-square {
	background-color: #439c92;
}
.green-square {
	background-color: #7dbe1f;
}
.header-square-big {
	width: 25px;
    height: 24px;  
    top: -24px;
    left: -47px;
}
.header-square-small {
	width: 12px;
    height: 12px;
    left: -36px;
    top: 12px;
}
.header-square-medium {
	width: 19px;
    height: 19px;
    left: -62px;
    top: 9px;
}
.header-h2 {
	font-family: "Acrom-ExtraBold";
	font-size: 45px;
	color: #414042;
	line-height: 53px;
	margin-bottom: 50px;
	max-width: 230px;
}
.div-more {
	display: inline-block;
	margin-top: 45px;
}
.more {
	font-family: "Acrom-ExtraBold";
	font-size: 15px;
	color: #439c92;
	border-bottom: 1px solid #439c92;
	display: inline-block;
	padding-bottom: 3px;
}
.more-arrow {
	width: 21px;
    height: 8px;
    background-position: -85px -23px;
	margin-left: 10px;
}
.content-wrapper {
	max-width: 1045px;
    margin: auto;
}

/*Header*/
header {
	background: url("../img/header-img-lg.jpg") no-repeat;
	height: 802px;
}
.header-top {
	font-family: "Roboto-Light";
	max-width: 1525px;
    margin: auto;
    padding: 20px 45px 0 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo-div {
	display: inline-block;
}
.logo {
	background: url("../img/logo.png") no-repeat;
	background-size: contain;
	display: block;
	width: 118px;
	height: 59px;
}
.logo-text {
	font-size: 12.73px;
	color: #fff;
	line-height: 16px;
	display: inline-block;
	margin-top: 2px;
	margin-left: 28px;
}
.header-nav-menu {
	margin-top: 13px;
}
.header-menu {
	display: inline-block;
}
.header-menu a {
	color: #ecf0e8;	
}
.header-menu li {
	font-size: 17px;
	display: inline-block;
	margin-right: 40px;
	padding-top: 8px;
	border-top: 1px solid transparent;
}
.header-menu li:hover {
    border-top: 1px solid #bed62f;
}
.header-menu li:nth-child(6) {
	margin-right: 40px;
}
.choose-language,
.search-icon {
	cursor: pointer;
}
.choose-language {
	color: #ecf0e8;
	padding: 6px;
	padding-bottom: 7px;
    border: 1px solid #bfd730;
    margin-right: 31px;
}
.search {
	margin-right: 0px;
	border: 0;
	display: inline-block;
}
.search-icon {
	width: 15px;
    height: 15px;
    background-position: -101px -41px;
	position: relative;
    top: 2px;
}
/*Search-form*/
.search-input {
	display: flex;
	padding: 0 15px;
	background-color: rgba(255,255,255, 0.3);
	position: absolute;
    right: 39px;
    top: 78px;
    width: 641px;
    display: none;
}
.search-input-active {
	display: flex;
}
.search-input input[name="input-search"] {
	border: none;
    outline: none;
    font-family: "Acrom-Light";
    font-size: 15px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    padding: 13px 0px;	
}
.search-input input::-webkit-input-placeholder {
	color: #fff;
}
.search-input input:-moz-placeholder {
	color: #fff;  
}	 
.search-input input::-moz-placeholder {
	color: #fff;  
}
.search-input input:-ms-input-placeholder {  
	color: #fff;  
}
.close-search {
	width: 14px;
    height: 14px;
    margin-top: 15px;
    cursor: pointer;
    background-position: -27px -113px;
}
.seach-active-icon {
	background-position: -5px -109px;
}
/*Mob menu*/
.mob-menu {
	background: url(../img/mob-menu-background-img.jpg);
    width: 100%;
    height: 100%;
    max-height: 480px;
    position: absolute;
    text-align: center;
    font-family: "Acrom-ExtraBold";
    font-size: 20px;
    color: #fff;
    display: none;
}
.mob-menu-open {
	display: block;
}
.mob-menu ul {
	margin-top: 105px;
}
.mob-menu li {
	text-transform: uppercase;
	cursor: pointer;
	margin-bottom: 30px;
}
.mob-menu li a:hover {
	color: #bfd730;
}
/*Hamburger-icon*/
#hamburger-icon {
  width: 20px;
  height: 14px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display: none;
}
#hamburger-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #bfd730;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
#hamburger-icon span:nth-child(1) {
  top: 0px;
}
#hamburger-icon span:nth-child(2) {
  top: 6px;
  background: #fff;
}
#hamburger-icon span:nth-child(3) {
  top: 12px;
}
#hamburger-icon.open span:nth-child(1) {
  top: 6px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
#hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#hamburger-icon.open span:nth-child(3) {
  top: 6px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #fff;
}
.header-bottom {
	margin-top: 150px;
	margin-bottom: 204px;
	position: relative;
}
.header-bottom-z-index {
	z-index: -1;
}
.header-main-square-left-first {
    left: -109px;
    top: -46px;
}
.header-main-square-left-second {
    left: -170px;
    bottom: -168px;
}
.header-main-square-left-third {
	left: -150px;
    bottom: -194px;
}
.header-main-square-right-first {
	top: -89px;
    left: 952px;
}
.header-main-square-right-second {
	top: 345px;
    left: 952px;
}
.header-main-square-right-third {
	top: 376px;
    left: 922px;
}
.header-main-square-right-fourth {
	top: 407px;
    left: 922px;
}
.slider-text {
	display: inline-block;
    padding-left: 58px;
    border-left: 6px solid #8dc63f;
    margin-left: 14.4%;
    position: relative;
}
.slider-div {
	max-width: 630px;
}
.slider-text h2 {
	color: #fff;
	font-family: "Acrom-ExtraBold";
	font-size: 65px;
	max-width: 630px;
	margin-bottom: 25px;
	outline: none;
}
.slick-prev, .slick-next {
	display: none !important;
}
.arrows {
	font-family: "Acrom-Light";
	font-size: 14px;
	margin-left: 15px;
	margin-bottom: 50px;
	margin-top: 6px;
}
.arrow-left {
	background-position: -65px -70px;
	margin-right: 18px;
}
.arrow-right {
	background-position: -85px -5px;
	margin-left: 18px;
}
.arrow-left, .arrow-right {
	width: 21px;
	height: 8px;
	cursor: pointer;
	position: relative;
    top: -3px;
}
.current-text {
	color: #bed62f;
	margin-right: 9px;
}
.current-slide {
	color: #ecf0e8;
	display: inline-block;
}
.current-slide span {
	font-size: 23px;
}
.current-slide span:nth-child(2) {
	margin-left: 6px;
}
.header-mouse-icon {
	text-align: center;
}
.mouse-icon {
	width: 24px;
    height: 37px;
    background-position: -96px -70px
}

/*Content*/
/*Information*/
main {
	padding: 0 15px;
	box-sizing: border-box;
}
main.wrapper {
	padding-top: 89px;
}
.information {
    margin-bottom: 125px;
}
.information .header-h2 {
	position: relative;
}
.information-main {
	display: flex;
}
.information p {
	font-family: "Roboto-Light";
	font-size: 17px;
	color: #87898a;
	line-height: 30px;	
	margin-right: 55px;
}
.information-main img {
	max-width: 350px;
	max-height: 350px;
	box-shadow: 0px 0px 65px rgba(109,129,138,0.65);
}
.information-square-big {
	width: 24px;
    height: 24px;
    right: 6px;
    top: -36px;
}
.information-square-small {
	width: 19px;
    height: 19px;
    right: -31px;
    top: 5px;
}
.information-img-div {
	min-width: 350px;
    position: relative;
    display: inline-table;
}
/*Projects*/
.projects {
	display: flex;
	justify-content: space-between;
	margin-bottom: 110px;
	padding-top: 20px;
}
.projects .header-h2 {
	position: relative;
	margin-bottom: 0px;
	margin-top: 38px;
}
.projects-left-side {
	display: inline-block;
	margin-right: 65px;
}
.projects-img-margin {
	margin-right: 30px;
}
.projects-bottom-img {
	margin-top: 30px;
}
.projects-right-side > div {
	display: flex;
}
.projects-right-side img,
.img-container {
	max-width: 350px;
	max-height: 350px;
}
.img-container {
	cursor: pointer;
	position: relative;
	display: flex;
	-ms-transform: scale(1,1);
	-ms-transition-timing-function: ease-out;
    -ms-transition-duration: 500ms;
	-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}
.img-container:hover {
	box-shadow: 0px 0px 37px rgba(2,3,3,0.5);
	-ms-transform: scale(1.045,1.045);
	-webkit-transform: scale(1.045,1.045);
    -moz-transform: scale(1.045,1.045);
}
.img-container:hover .img-container-after {
	display: block;
    background: rgba(15,91,88,0.8);
}
.img-container:hover .img-container-inner-header p {
	border-bottom: 1px solid #7dbe1f;
}
.img-container:hover .img-container-inner-more {
	background-color: transparent;
	display: inline;
}
.img-container:hover .img-container-inner-text {
	display: block;
}
.img-container:hover .img-container-inner-header {
	margin-top: 0px;
}
.img-container-after {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    background: rgba(65,65,66,0.5);
    display: block;
}
.img-container-inner {
	font-family: "Acrom-ExtraBold";
	max-width: 285px;
    margin: auto;
    margin-top: 80px;
}
.img-container-inner-header {
	font-size: 28px;
	margin-top: 120px;
}
.img-container-inner-header p {
	display: inline-block;
	border-bottom: 1px solid transparent;
}
.img-container-inner-text {
	font-family: "Roboto-Light";
	font-size: 18px;
	margin-top: 23px;
	margin-bottom: 36px;
	display: none;
}
.img-container-inner-more {
	padding: 4px 11px 4px 10.5px;
    font-size: 13px;
    border: 1px solid #439c92;
    border-radius: 3px;
    background-color: #439c92;
   	margin-top: 39px;
	display: inline-block;
}
/*Statistics*/
.statistics {
    background: url(../img/content-statistics-img.jpg) no-repeat;
    background-position-y: 33%;
    background-size: cover;
    width: 100%;
    height: 339px;
    position: relative;
}
.statistics-background {
	width: 100%;
    height: 100%;
    background: rgba(15,91,88,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.statistics-main {
	display: flex;
	text-align: center;
	color: #fff;
}
.statistics-main span {
	font-family: "Acrom-ExtraBold";
	font-size: 75px;
	padding-top: 15px;
    display: inline-block;
}
.statistics-main p {
	font-family: "Roboto-Light";
    font-size: 19px;
    margin-top: 35px;
    padding-bottom: 25px;
    width: 69%;
    margin: auto;
    line-height: 23px;
}
.statistics-main div {
	width: 286px;
	box-sizing: border-box;
}
.statistics-main div:nth-child(1),
.statistics-main div:nth-child(3) {
	border-left: 3px solid #8dc63f;
    border-right: 3px solid #8dc63f;
}
/*News*/
.news {
	margin-bottom: 125px;
	padding-top: 40px;
    margin-top: 80px;
}
.news .header-h2 {
	position: relative;
	margin: auto;
	text-align: center;
	margin-bottom: 90px;
	max-width: 138px;
}
.news-blocks {
	display: flex;
}
.news-blocks .slick-list {
	overflow: visible;
}
.news-blocks .slick-track {
	display: flex;
	justify-content: space-between;
	min-width: 1120px;
}
.news-blocks .slick-track:after,
.news-blocks .slick-track:before {
	content: initial;
}
.news-blocks .slick-dots {
	position: absolute;
    width: 100%;
    text-align: center;
    padding: 0;
    bottom: -60px;
}
.news-blocks .slick-dots li {
	position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}
.news-blocks .slick-dots li button {
	font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: #8dc63f;
}
.news-blocks .slick-dots li.slick-active button {
	background: #439c92;
}
.news-blocks-div a {
	outline: none;
}
.news-blocks-div {
	outline: none;
	max-width: 352px;
	-ms-transform: scale(1,1);
    -ms-transition-timing-function: ease-out;
    -ms-transition-duration: 500ms;
	-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
}
.news-blocks-div:hover {
	-ms-transform: scale(1.045,1.045);
	-webkit-transform: scale(1.045,1.045);
    -moz-transform: scale(1.045,1.045);
}
.news-information,
.news-day {
	color: #b2b2b2;
}
.news-information {
	font-family: "Roboto-Light";
	font-size: 15px;
	display: inline-block;
	margin-bottom: 25px;
}
.news-day {
	font-family: "Acrom-Light";
	font-size: 17px;
	margin-right: 5px;
}
.news-author {
	margin-left: 5px;
	color: #439c92;
	border-bottom: 1px solid #439c92;
	display: inline-block;
}
.news-header {
	margin-top: 45px;
	display: inline-block;
	margin-bottom: 20px;
	font-family: "Acrom-ExtraBold";
	font-size: 19px;
	color: #414042;
	text-transform: uppercase;
	line-height: 30px;
	min-height: 60px;
}
.news-header:hover {
	color: #439c92;
}
.news-text {
	font-family: "Roboto-Light";
	font-size: 16px;
	color: #8a8a8b;
	margin-bottom: 10px;
	line-height: 28px;
}
.news-btn {
	font-family: "Acrom-ExtraBold";
    font-size: 16px;
    color: #fff;
    background-color: #439c92;
    cursor: pointer;
    display: block;
    padding-top: 19px;
    padding-bottom: 16px;
    text-align: center;
    box-shadow: 0px 0px 19px rgba(10,30,39,0.13);
}
.news-main-div-information {
	padding: 28px;
	box-shadow: 0px 0px 19px rgba(10,30,39,0.13);
}
.news-main-div-information img {
	width: 285px;
	height: 165px;
}
.news-div-img {
	text-align: center;
}

/*Footer*/
/*Contact us*/
.footer-wrapper {
	background-color: #f3fafa;
	padding-bottom: 84px;
	padding-top: 85px;
}
.address,
.phone {
	margin-bottom: 40px;
}
.address,
.phone,
.email {
	display: flex;
}
.contact-write-us {
	display: flex;
	padding: 0px 15px;
}
.contact-write-us .header-h2 {
	max-width: inherit;
	margin-bottom: 60px;
}
.address-icon,
.phone-icon,
.email-icon {
	margin-right: 40px;
}
.address-icon,
.phone-icon {
	min-width: 19px;
    height: 29px;
}
.address-icon {
    background-position: -56px -5px;
}
.phone-icon {
    background-position: -5px -44px;
}
.email-icon {
	width: 20px;
    height: 15px;
    background-position: -5px -5px;
}
.contact-us {
	margin-right: 180px;
	margin-left: 67px;
	position: relative;
}
.our-date {
	font-family: "Roboto-Light";
	font-size: 17px;
}
.email a {
	font-size: 15px;
	color: #7fb7b1;
	text-decoration: underline;
}
.address-text span:nth-child(1),
.phone span:nth-child(1) { 
	display: block;
	margin-bottom: 10px;
}
.address-text span,
.phone span {
	color: #5b5b5d;
	display: inline-block;
}
/*Write us*/
.write-us {
	width: 535px;
}
.contact-write-us .write-us-header-h2 {
	margin-bottom: 87px;
}
.write-us-header-h2 span {
	display: none;
}
.write-us-form label {
	font-family: "Roboto-Light";
	font-size: 14px;
	color: #989b9c;
	position: absolute;
	top: 6px;
	-webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
    -o-transition: -o-transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
    transition: transform .3s,all .3s cubic-bezier(.21,1,.84,1.01);
}
.write-us-wrapper-div .focus-label {
	-webkit-transform: translate3d(0,-20px,0);
    transform: translate3d(0,-20px,0);
	font-size: 10px;
}
.write-us-form-focus {
	font-family: "Roboto-Bold";
	font-size: 17px;
	color: #414042;
	border: none;
	border-bottom: 2px solid #989b9c;
	outline: none;
	padding-bottom: 6px;
	width: 100%;
	background-color: #f3fafa;
}
.focus-label + .write-us-form-focus {
	border-color: #439c92;
}
.write-us-wrapper-div textarea {
	resize: vertical;
	max-height: 100px;
}
.write-us-wrapper-div {
	position: relative;
}
.write-us-form-name-email-div {
	display: flex;
}
.write-us-form-name-email-div > div {
	width: 50%;
}
.write-us-btn-submit {
	margin-top: 60px;
	cursor: pointer;
	width: 173px;
	height: 46px;
	font-family: "Acrom-ExtraBold";
	font-size: 16px;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 3px;
	background-color: #439c92;
}
.write-us-form-name-email-div div:nth-child(1) {
	margin-right: 35px;
}
.write-us-wrapper-div-textarea {
	margin-top: 65px;
}
/*Footer bottom*/
.footer-bottom {
	background-color: #414042;	
	height: 49px;
	display: flex;
}
.wrapper-footer-bottom {
	width: 100%;
	max-width: 1555px;
	margin: auto;
	padding-left: 25px;
	padding-right: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.copyright,
.copyright-icon {
	font-family: "Roboto-Light";
	font-size: 14px;
	color: #c3c3c3;
}
.copyright-icon {
	font-size: 15px;
}
.copyright-sm {
	display: none;
}
.wrapper-footer-bottom-right {
	position: relative;
	margin-right: 19px;
}
.wrapper-footer-bottom-right span:nth-child(1),
.wrapper-footer-bottom-right a {
	font-size: 12.71px;
	color: #c2c2c2;
}
.wrapper-footer-bottom-right span:nth-child(1) {
	font-family: "Acrom-Light";
}
.wrapper-footer-bottom-right a {
	font-family: "Acrom-ExtraBold";
	margin-right: 20px;
}
.footer-green-circle {
	width: 10px;
    height: 10px;
    position: absolute;
    background-color: #87c336;
    border-radius: 100%;
    top: 3px;
    right: 0px;
}
.footer-empty-circle {
	width: 9px;
    height: 8px;
    position: absolute;
    top: 1px;
    right: -19px;
    border: 3px solid #b2d4d0;
    border-radius: 100%;
}
.social {
	position: relative;
	right: 57px;
	width: 114px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social a {
	display: flex;
}
.facebook-icon {
	width: 11px;
    height: 21px;
    background-position: -35px -5px;
}
.twitter-icon {
	width: 21px;
    height: 19px;
    background-position: -34px -44px;
}
.vk-icon {
	width: 26px;
    height: 16px;
    background-position: -65px -44px;
}

